In [2]:
#tuple cretion
a=(1,2,3,4)
a

(1, 2, 3, 4)

In [3]:
print(type(a))

<class 'tuple'>

In [4]:
#string data type Tuple
b=("aromal","anamika",)
b

('aromal', 'anamika')

In [5]:
print(type(b))

<class 'tuple'>

In [6]:
#mixed Tuple
s=(1,2,3.4,12,"anamika",True,"athira")
s

(1, 2, 3.4, 12, 'anamika', True, 'athira')

In [7]:
print(type(s))

<class 'tuple'>

In [10]:
#without parentheses 
d=1,2,3,
d

(1, 2, 3)

In [9]:
print(type(d))

<class 'tuple'>

In [11]:
#compling to varibles
t=a+b
t

(1, 2, 3, 4, 'aromal', 'anamika')

In [12]:
#printing same tuple multiple times
t1=d*3
t1

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [13]:
#creating a tuple in a different way
t2=tuple('hello')
t2

('h', 'e', 'l', 'l', 'o')

In [14]:
print(type(t2))

<class 'tuple'>

In [16]:
#accessing a tuple varible
t2[1]

'e'

In [17]:
#Vreversing a tuple z to a
t2[::-1]

('o', 'l', 'l', 'e', 'h')

In [18]:
#unpacking a tuple
a,b,c,d=t2

ValueError: too many values to unpack (expected 4)

In [19]:
a,b,c,d,e=t2

In [20]:
a

'h'

In [21]:
b

'e'

In [22]:
c

'l'

In [23]:
d

'l'

In [24]:
e

'o'

In [25]:
a,s,d,f,g,h=t2

ValueError: not enough values to unpack (expected 6, got 5)

In [26]:
#lenth of tuple
len(t2)

5

In [27]:
#trying to delet one varible from a tuple
del t2[1]

TypeError: 'tuple' object doesn't support item deletion

In [28]:
#deleting a tp
del t2

In [29]:
t2

NameError: name 't2' is not defined